* {
    margin: 0;
    padding: 0;
}

body {
    font: 400 14px/1.5 'Hind', sans-serif;
    color: #565655;
    height: auto;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

a:hover {
    color: #bd2631;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}


/*    HEADER   */

.contacts-information {
    background: #ededed;
    padding: 13px 100px;
}

.address-block {
    float: left;
}

.address-block div {
    display: inline-block;
    margin-right: 15px;
}

.social-icons {
    float: right;
    margin-top: 7px;
}

.social-icons ul li {
    margin-left: 20px;
}

.fa-phone,
.fa-location-arrow {
    color: #000;
}

.city {
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding: 6px 16px;
}

.fa-angle-down {
    margin-left: 15px;
    font-size: 18px;
    margin-top: 2px;
}

.mobile-menu {
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    display: none;
    cursor: pointer;
}


/****   BLOCK2   */

.logo-section {
    padding: 29px 100px;
    background: #fff;
}

.logo {
    float: left;
}

.static-info {
    float: right;
    margin-top: 17px;
}

.title {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.static-info li p:first-of-type {
    float: left;
    margin-right: 15px;
    color: #000;
    font-size: 18px;
}

.static-info li p:last-of-type {
    display: inline-block;
}

.static-info p>span {
    display: block;
}

.static-info ul li {
    padding-right: 35px;
    border-right: 1px solid #e6e6e6;
    margin-right: 20px;
}

.static-info ul li:last-of-type {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}


/*******************  */


/*  BLOCK3  */

.navigation {
    background: #000;
    padding: 0 100px;
}

.navigation nav {
    float: left;
}

nav li a {
    color: #fff;
    font-size: 16px;
    padding: 24px 16px 16px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 7px solid transparent;
}

nav li a:hover {
    color: #fff;
    border-bottom: 6px solid #bd2631;
}

.current a {
    border-bottom: 6px solid #bd2631;
}

.first-img-column {
    margin-top: 50px;
    margin-bottom: 25px;
}
/* SLIDER */
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;

}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 120px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 8px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.mySlides{
    text-align: center;
    max-height: 700px;
}
.text{
    color: #f2f2f2;
    font-size: 22px;
    padding: 8px 12px;
    position: relative;
    bottom: 90px;
}
.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color:0.6s ease;

}
.active, .dot:hover{
    background-color: #717171;

}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration:1s;
    animation-name:fade;
    animation-duration:1s;
}
/*@-webkit-keyframes fade{
    0%{opacity:0.4;}
    100%{opacity:1;}
}*/
@keyframes fade{
    0%{opacity:0.4;}
    100%{opacity:1;}
}

/* END SLIDER */

.red-block clearfix {
    margin-top: 7px;

}

.red-block-text-left {
    text-align: left;
    color: white;
    padding-left: 85px;
    font-size: 19px;
}

.button-red-block {
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: :200px;
}

.red-block-button-right {
    text-align: right;
    color: white;
    padding-right: 85px;
    font-size: 200;
}

.a-red-button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ffffff;
    color: black;
    margin-right: 0px;
    text-transform: none;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 33px;
    display: inline-block;
    -webkit-appearance: none;
}

.span-button-right {
    color: black;
    display: inline-block;
    vertical-align: middle;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}


.services-content {
    display: flex;
    max-width: 100%;
}

.services-image-second {
    margin-top: 85px;
}

.second-column {
    padding: 0 10px 0 10px;
    padding-top: 5px;
    ;
    clear: both;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1;
    position: relative;
}

.services-item {
    padding-left: 75px;
    padding-right: 15px;
}

.services-item-align {
    text-align: center;
}

.search {
    float: right;
    color: #fff;
    line-height: 3.5;
    font-size: 19px;
}




/*****************/

.copyright-container {
    background-color: #131313;
}

.copyright-text-left {
    float: left;
}

.copyright-text-right {
    float: right;
}

.first-column {
    padding: 0 10px 0 10px;
    padding-top: 5px;
    ;
    clear: both;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1;
}

.logo {
    display: block;
    max-width: 100%;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
}

.logo-img {
    margin-left: 100px;
    width: 126px;
    height: 63px;
    margin-right: 30px;
}

.list-img {
    text-align: center;
}




.column1{
    clear: left;
        float: left;
    width: 20%;
    position: relative;
}
.column2{
    clear: left;
        
    width: 20%;
    position: relative;
}
.column3{
    clear: left;
        float: left;
    width: 20%;
    position: relative;
}
.column4{
    clear: left;
        
    width: 20%;
    position: relative;
}
.column5{
    clear: left;
        float: right;
    width: 20%;
    position: relative;
}
.column-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
}
.element-photo{
    clear: both;
}
.element-text{
    background-color: #cc3333;
    padding-bottom: 30px;
}
/*    END   */


/*   RESPONSIVE   */

@media screen and (max-width: 1060px) {
    .logo,
    .static-info {
        float: none;
    }
    .logo-section {
        text-align: center;
    }
}

@media screen and (max-width: 995px) {
    .block {
        padding-right: 40px;
        padding-left: 40px;
    }
    nav li a {
        font-size: 14px;
        padding: 24px 12px 16px;
    }
}

@media screen and (max-width: 760px) {
    .navigation {
        position: relative;
    }
    div.phone,
    div.address {
        display: block;
        margin: 10px 0;
    }
    nav ul {
        display: none;
        position: absolute;
        background: #000;
        top: 66px;
        left: 0;
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
    }
    .mobile-menu {
        display: block;
    }
    #menu li {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #e6e6e6;
    }
    #menu li a,
    #menu li a:hover {
        border-bottom: none;
    }
    #menu li a {
        padding: 0;
    }
    #menu li:last-of-type {
        border-bottom: none;
    }
}

@media screen and (max-width: 570px) {
    .static-info ul li {
        display: block;
        padding-right: 0;
        margin: 10px 0;
        border: none;
        width: 160px;
        text-align: left;
    }
}

@media screen and (max-width: 440px) {
    .contacts-information>div {
        float: none;
    }
    .social-icons ul li {
        margin: 0 20px 0 0;
    }
    .logo img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 390px) {
    .block {
        padding-right: 20px;
        padding-left: 20px;
    }
    nav ul {
        padding: 0 20px;
    }
}
